---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Writing</h1>

	<nav>
		<a href="/writing/unit-testing-a-dialog">Unit Testing the HTML Dialog Element</a>
		<a href="/writing/temp">Pages to Add - Temp</a>
	</nav>
</Layout>
