<footer>
    <nav>
		<a href="">Email</a>
		<a href="">Codepen</a>
		<a href="">Github</a>
		<a href="">Linkedin</a>
	</nav>
    <p class="todo">Copyright 2025 &copy; Nichole Koelzer. Built with Astro and CSS Magic. See the <a href="">change log</a>.</p>
</footer>

