---
import Layout from '../../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Writing</h1>

	<nav>
		<a href="/writing/unit-testing-a-dialog">Unit Testing the HTML Dialog Element</a>
		<a href="/writing/temp">Pages to Add - Temp</a>
	</nav>
</Layout>
